# Lattice Radiant files
*.html
/impl*/
*.xml
.build_status
.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.ini
promote.*
*.sty
*.dir/
*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd
.vdbs/
incr/
*.pad
*.par
*.udb
*_impl_?_*
*_impl_?.*
*.synthesis_touch
ipsdclist.txt
*.ini